@media screen and (max-width: 980px) {
	#team .members_column {
		width: 50%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 821px) {
	#hero .hero_text h2 {
		font-size: 25px;
	}
}
@media screen and (max-width: 821px) {
	#promo .promo_pic_img {
    position: static;
    margin-bottom: 10px;
	}
	#promo article {
    width: 100%;
	}
}
@media screen and (max-width: 767px) {
	#header {
		position: relative;
	}
	#header .menu-icon {
	display: block;
	}
	#header .navigation {
    float: left;
    width: 100%;
    display: none;
    position: absolute;
	left: 0;
	width: 100%;
	background: #313332;
	top: 100%;
	}
	#header .navigation ul li {
	display: block;
	text-align: center;
	padding : 10px 0;
	}
}
@media screen and (max-width: 701px) {
	#hero {
		height: 400px;
	}
	#hero .hero_text h2 {
		font-size: 18px;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	#progress .progress_column {
		width: 50%;
		margin-bottom: 10px;
	}
	#works .gallery figure {
		width: 50%;
	}
	#features .features_column {
		width: 100%;
	}

}
@media screen and (max-width: 600px) {
	#team .members_column {
		width: 100%;
		margin-bottom: 10px;
	}	
	#footer .footer_column {
		width: 100%;
		text-align: center;
	}
	#footer .get_in_touch_text label {
   		width: 100%;
	}
	#footer .get_in_touch_text p {
    	width: 100%;
	}
	#progress .num_type h6 {
		font-size: 20px;
	}

}
@media screen and (max-width: 470px) {
	#promo article>.promo_text:nth-child(2) {
		width: 100%;
		padding-bottom: 10px;
	}

	#promo article>.promo_text:nth-child(3) {
		width: 100%;
	}
}
@media screen and (max-width: 361px) {
	#progress .progress_column {
		width: 100%;
		margin-bottom: 10px;
	}
	#works .gallery figure {
		width: 100%;
	}
}
